@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/Plus-Jakarta-Sans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2");
  font-display: swap;
}


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #00B9F2;
  padding: 65px 30px 30px 30px;

}

.layout {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 32px;
  box-shadow: 1.5px 5px 15px rgba(0, 58, 107, 1.5);
}

header {
  display: flex;
  align-items: center;
  padding: 25px 0 10px 20px;
}

header > ul {
  list-style: none;
}

header > ul > li {
  padding: 0;
  margin: 0;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 16px;
  color: #16516C;
}

header > ul > li > a {
  text-decoration: none;
}

header > ul > li > a > h1 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 800;
  color: #000000;
}

header > img {
  width: 85px;
  height: 85px;
}

.header-text {
  align-self: center;
  width: 85%;
  background-color: #EAF4FD;
  border-radius: 15px;
  padding: 10px 8px;
}

.header-text > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.header-text > ul > li:first-child {
  display: flex;
  justify-content: center;
}

.header-text > ul > li > img {
  width: 35px;
  height: 35px;
  aspect-ratio: 1 / 1;
}

.header-text > ul > li:nth-child(2) {
  width: 75%;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 600;
  color: #265A75;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.search-area > input {
  width: 85%;
  border: 1px solid #B2CFD2;
  border-radius: 15px;
  padding: 10px 20px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  color: #0D4461;
}

.search-area > input:focus {
  border: 2px solid #A9B6BC;
  outline: none;
}

.search-area > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.search-area > ul > li > button {
  border: 1px solid #A9B6BC;
  border-radius: 12px;
  background-color: #FFFFFF;
  padding: 8px;
  font-size: 11px;
  font-weight: 600;
  color: #0D4461;
}

.search-area > ul > li > .active-button {
  background-color: #00B8F1;
  border: 0px solid #000000;
  color: #FFFFFF;
}

.search-area > ul > li > button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s;
}

.search-area > ul > li > button:active {
  border: 0px;
  transform: translateY(0.5px);
  transition: 0.3s;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 425px);
  max-height: calc(100vh - 425px);
  overflow-y: auto;
  padding: 15px 0 15px 0;
}

main > .card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  list-style: none;
}

main > .card-list > .card {
  position: relative;
  display: flex;
  padding: 5px;
  width: 88%;
  border: 1px solid #92A8B3;
  border-radius: 20px;
}

main > .card-list > .card:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s;
}

main > .card-list > .card:active {
  transform: translateY(0.5px);
  transition: 0.3s;
}

main > .card-list > .card > img {
  width: 45px;
  height: 45px;
}

main > .card-list > .card > ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}

main > .card-list > .card > ul > li:first-child {
  width: 65%;
  padding: 8px 5px 0 8px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 900;
  color: #0D4461;
}

main > .card-list > .card > ul > li:nth-child(2) {
  font-family: Roboto;
  font-size: 12px;
  color: #92A8B3;
}

main > .card-list > .card > ul > li:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Roboto;
  font-size: 12px;
  color: #92A8B3;
}

main > .card-list > .card > ul > li:nth-child(3) > img {
  width: 20px;
  height: 20px;
}

main > .card-list > .card > .badge {
  position: absolute;
  top: 5px;
  right: 8px;
  height: max-content;
  border-radius: 10px;
  padding: 8px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
}

main > .card-list > .card > .new {
  background-color: #E1F8DE;
  color: #5BC080;
}

main > .card-list > .card > .pop {
  background-color: #FDECCE;
  color: #EDB06C;
}

main > div.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  color: #b5bcc3;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
}

footer::before {
  content: "";
  position: absolute;
  flex-shrink: 0;
  bottom: 99%;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(0deg, #FFFFFF 3%, #FFFFFF00 100%);
  pointer-events: none;
}

footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 95%;
  border: 2px solid #72C5F7;
  border-radius: 32px;
  padding: 3px 0;
  list-style: none;
}

footer > ul > li {
  position: relative;
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border-radius: 32px;
  background-color: #72C5F7;
  padding: 4px;
}

footer > ul > li:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s;
}

footer > ul > li:active {
  transform: translateY(0.5px);
  transition: 0.3s;
}

footer > ul > li > a > img {
  width: 30px;
}

.locked {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF80;
  pointer-events: none;
}

.locked > img {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: -10px;
}


@media (min-width: 570px) {
  header {
    position: relative;
    padding: 14px 0 10px 30px;
  }

  header > ul > li > a > h1 {
    font-size: 35px;
    font-weight: 900;
  }

  header > ul > li {font-size: 18px;}

  header > img {
    position: absolute;
    top: 20px;
    right: 5%;
    width: 120px;
    height: 120px;
  }

  .header-text {
    align-self: flex-start;
    width: 65%;
    margin-left: 5%;
  }

  .search-area > input {font-size: 17px;}

  .search-area > ul > li > button {
    padding: 8px 12px;
    font-size: 14px;
  }

  main > .card-list > .card {padding: 8px;}

  main > .card-list > .card > ul > li:first-child {
    width: 80%;
    font-size: 14px;
  }

  main > .card-list > .card > ul > li:nth-child(2) {
    padding-left: 5px;
    font-size: 14px;
  }

  main > .card-list > .card > ul > li:nth-child(3) {font-size: 14px;}

  main > .card-list > .card > .badge {
    top: 8px;
    right: 10px;
  }
}

@media (min-width: 765px) {
  .header-text > ul > li:nth-child(2) {font-size: 13px;}
  header > img {right: 8%;}
  .header-text > ul > li:nth-child(2) {font-size: 12px;}

  main > .card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5px 10px;
  }

  main > .card-list > .card {width: 45%;}
  main > .card-list > .card > ul > li:first-child {width: 65%;}
}

@media (min-width: 1000px) {
  body {padding: 30px;}

  .header-text > ul {
    gap: 15px;
  }

  .header-text > ul > li:nth-child(2) {font-size: 14px;}

  main {
    min-height: calc(100vh - 395px);
    max-height: calc(100vh - 395px);
  }

  main > .card-list > .card {width: 30%;}
  footer > ul {width: 40%;}
}