@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2");
  font-display: swap;
}


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100vh;
  background-color: #00B9F2;
}

body > a {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 70%;
  transform: translateX(-50%);
  box-shadow: 1.5px 5px 30px rgba(0, 58, 107, 0.25);
  border-radius: 32px;
  background-color: #72C5F7;
  padding: 15px 0;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
  color: #F4FFFD;
  text-decoration: none;
  transition: 0.3s;
}

body > a:hover {
  cursor: pointer;
  bottom: 65px;
}

body > a:active {
  bottom: 58px;
}

body > ul {
  position: absolute;
  bottom: 5px;
  right: 10px;
  list-style: none;
}

body > ul > li {
  text-align: right;
  font-family: Roboto;
  font-size: 8px;
  color: #FFFFFF;
}


@media(min-width: 570px) {
  body > img {width: 80%;}
  body > a {width: 70%;}
}

@media(min-width: 800px) {
  body > img {width: 50%;}
  body > a {width: 30%;}
  body > ul > li {font-size: 10px;}
}