@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2");
  font-display: swap;
}


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #00B8F1;
  padding: 60px 30px 30px 30px;
}

.layout {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 32px;
  box-shadow: 1.5px 5px 15px rgba(0, 58, 107, 1.5);
  background-color: #FFFFFF;
}

header {
  padding: 40px 0 0 20px;
}

header > a {
  text-decoration: none;
}

header > a > h1 {
  width: 100%;

  padding: 0;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 900;


  color: #000000;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 240px);
  max-height: calc(100vh - 240px);
  padding: 20px 0 30px 0;
  overflow-y: auto;
}

main > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 25px 15px;
  list-style: none;
}

main > ul > li {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 42%;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 15px 15px 0 15px;
  background-color: #C8E7FC;
  font-family: Roboto;
  font-weight: 600;
  font-size: 15px;
  color: #0D4764;
}

main > ul > li:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: 0.3s;
}

main > ul > li:active {
  transform: translateY(0.99px);
  transition: 0.3s;
}

main > ul > li > img {
  width: 60px;
  object-fit: contain;
  flex-shrink: 0;
}

main > ul > li:first-child,
main > ul > li:nth-child(2) {
  gap: 10px;
}

main > ul > .quiz {
  gap: 0px;
  padding: 0 15px 0 15px;
}

main > ul > .quiz > img {
  align-self: center;
  width: 90px;
  object-fit: contain;
  flex-shrink: 0;
}

main > ul > .compete {
  padding: 15px 15px 0 10px;
  gap: 14px;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 20px 0;
}

footer::before {
  content: "";
  position: absolute;
  flex-shrink: 0;
  bottom: 99%;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(0deg, #FFFFFF 10%, #FFFFFF00 100%);
  pointer-events: none;
}

footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 95%;
  border: 2px solid #72C5F7;
  border-radius: 32px;
  padding: 3px 0;
  list-style: none;
}

footer > ul > li {
  position: relative;
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border-radius: 32px;
  padding: 4px;
  background-color: #72C5F7;
}

footer > ul > li:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s;
}

footer > ul > li:active {
  transform: translateY(0.5px);
  transition: 0.3s;
}

footer > ul > li > a > img {
  width: 30px;
}

.locked {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF80;
  pointer-events: none;
}

.locked > img {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: -10px;
}



@media (min-width: 570px) {
  header {padding: 30px 0 0 30px;}
  header > a > h1 {font-size: 35px;}

  main > ul > li,
  main > ul > li:first-child,
  main > ul > li:nth-child(2),
  main > ul > .compete {
    gap: 15px;
    padding: 25px 25px 0 25px;
    font-size: 20px;
  }

  main > ul > li > img {width: 110px;}

  main > ul > .quiz {
    padding: 0 25px 0 25px;
    gap: 15px;
  }

  main > ul > .quiz > img {width: 140px;}
  footer > ul {width: 90%;}
  footer > ul > li > a > img {width: 35px;}
}

@media (min-width: 765px) {
  main {
    min-height: calc(100vh - 240px);
    max-height: calc(100vh - 240px);
  }

  main > ul > li,
  main > ul > li:first-child,
  main > ul > li:nth-child(2),
  main > ul > .compete {
    width: 45%;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 15px;
    gap: 25px;
    font-size: 20px;
  }

  main > ul > li > img {width: 50%;}

  main > ul > .quiz {
    padding: 0 15px 0 15px;
    gap: 0px;
  }

  main > ul > .quiz > img {width: 110px;}
}

@media (min-width: 1000px) {
  body {padding: 30px;}
  main {max-height: calc(100vh - 200px);}

  main > ul {
    width: 70%;
    gap: 25px 30px;
  }

  main > ul > li,
  main > ul > li:first-child,
  main > ul > li:nth-child(2),
  main > ul > .compete,
  main > ul > .quiz {
    width: 25%;
  }

  footer > ul {width: 40%;}
}