@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/Plus-Jakarta-Sans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2");
  font-display: swap;
}


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 60px 30px 30px 30px;
  box-sizing: border-box;
  background-color: #00B8F1;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 32px;
  box-shadow: 1.5px 5px 15px rgba(0, 58, 107, 1.5);
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 40px 0 0 20px;
}

header > a > img {
  height: 20px;
  width: 20px;
}

header > div > a {
  text-decoration: none;
}

header > div > a > h1 {
  width: 100%;
  padding: 0;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 900;
  color: #000000;
}

header > div > span {
  font-family: Plus Jakarta Sans;
  font-size: 17px;
  font-weight: 700;
  color: #0D4764;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 265px);
  max-height: calc(100vh - 265px);
  padding: 25px 0 30px 0;
  overflow-y: auto;
}

main > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px 15px;
  width: 100%;
  list-style: none;
}

main > ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 85%;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 15px;
  background-color: #C9E8FD;
  color: #000000;
}

main > ul > li:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: 0.3s;
}

main > ul > li:active {
  transform: translateY(0.99px);
  transition: 0.3s;
}

main > ul > li > img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

main > ul > li > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main > ul > li > div {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 600;
  color: #0D4764;
  line-height: 1.5;
  text-transform: uppercase;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 20px 0;
}

footer::before {
  content: "";
  position: absolute;
  flex-shrink: 0;
  bottom: 99%;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(0deg, #FFFFFF 3%, #FFFFFF00 100%);
  pointer-events: none;
}

footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 95%;
  border: 2px solid #72C5F7;
  border-radius: 32px;
  padding: 3px 0;
  list-style: none;
}

footer > ul > li {
  position: relative;
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border-radius: 32px;
  padding: 4px;
  background-color: #72C5F7;
}

footer > ul > li:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s;
}

footer > ul > li:active {
  transform: translateY(0.5px);
  transition: 0.3s;
}

footer > ul > li > a > img {
  width: 30px;
}

.locked {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF80;
  pointer-events: none;
}

.locked > img {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: -10px;
}


@media (min-width: 570px) {
  header {padding: 30px 0 0 30px;}
  header > a > h1 {font-size: 35px;}

  main > ul > li {
    gap: 15px;
    padding: 25px 20px;
  }

  main > ul > li > img {
    width: 50px;
    height: 50px;
  }

  footer > ul {width: 90%;}
  footer > ul > li > a > img {width: 35px;}
}

@media (min-width: 765px) {
  main > ul > li {width: 90%;}
}

@media (min-width: 1000px) {
  body {padding: 30px;}

  main {
    min-height: calc(100vh - 225px);
    max-height: calc(100vh - 225px);
  }

  main > ul > li > div {font-size: 16px;}
  header > span {font-size: 20px;}
  footer > ul {width: 40%;}
}